#jqt ul li a p {
    font-size: 14px;
    color: #ddd;
}
#jqt ul li small {
    margin-top: -22px;
}

/* issue */
.details {
    padding: 10px;
    background: #fff;
    color: #111;
    line-height: 1.2;
}

.details h3 {
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.details p {
    margin: 1em 0;
}

.details table {
    width: 100%;
    border-collapse: collapse;
}
.details th, .details td {
    text-align: left;
    border-bottom: 1px solid #ccc;
}

#jqt .journal ul {
    border: none;
}

#jqt .journal ul li {
    background: none;
    color: #666;
    font-size: 13px;
    border: none;
    padding: 0;
}

#jqt .journal ul li a {
    display: inline;
    color: #369;
}

#history .contextual {
    display: none;
}

/* timelog */
#timelog-details .user,
#timelog-details .comment {
    font-size: 14px;
}

#jqt ul.child-project {
  margin: 0px 0px 0px 5px;
}

h3#issue-subject p {
  font-size: 80%;
  margin: 0;
}

#jqt .wiki ul {
    border: none;
    list-style-type: disc;
    display: list-item;
}

#jqt .wiki ul li {
    background: none;
    color: #666;
    font-size: 13px;
    border: none;
    padding: 0;
    display: list-item;
}

/* account */
.user {
    padding: 10px;
    background: #fff;
    color: #aaa;
    line-height: 1.2;
}

#jqt #account .user ul {
  background: #fff;
  border: 0;
  font-size: 12pt;
}
#jqt #account .user ul li {
  background: #fff;
  border: 0;
}

#jqt #account .user ul li a {
  color: #11e;
}
